<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Erin Broccolo</title>
	<link href='https://fonts.googleapis.com/css?family=Sarpanch:400,900' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ "/css/erin.css" | prepend: site.baseurl }}">
	<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script src="{{ "/scripts/erin.js" | prepend: site.baseurl }}"></script>
	<link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
</head>

<body>
	
	<div class="nameBar">

		<h1>Erin Broccolo</h1>

		<div class="social">
			<a href="https://www.linkedin.com/in/erinquigley" target="_blank"><img border="0" alt="Linked In" src="img/in.png" width="40" height="40"></a>
		</div>

	</div>
		

	<nav>
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="portfolio.html">Portfolio</a></li>
			<li><a href="resume.html">Resume</a></li>
			<li><a href="about.html">About</a></li>
		</ul>
	</nav>

	
		{{ content }}

	<footer>
		<p id="email">erinquig@gmail.com</p>

		<p id="copyright">Copyright &copy Erin Broccolo <script type="text/javascript"> 
				document.write(new Date().getFullYear());
			</script></p>
		<div class="clear"></div>
	</footer>
	
</body>
</html>